<section>
  <div class="page-header">
    <h1>Scale Readings Histogram</h1>
  </div>
<!--
  <div class="list-group">
    <a ng-repeat="reading in vm.readings" ui-sref="readings.view({ readingId: reading._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="reading.DeviceID"></h4>
      <p class="list-group-item-text">
	Weight: <span ng-bind="reading.Weight"></span> lbs.
      </p>
      <p class="list-group-item-text">
	Date: <span ng-bind="reading.date"></span>
      </p>o
      <p class="list-group-item-text">
	Alert: <span ng-bind="reading.alert"></span>
      </p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.readings.$resolved && !vm.readings.length">
    No registrations yet, why don't you <a ui-sref="readings.create">create one</a>?
  </div>
-->

<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->

</section>
